@import '../../../assets/sass/assets.scss';
.login{
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    .contain{
        .main{
            width:380px;
            margin: auto;
            padding:50px 40px;
            background-color: #fff;
            box-shadow: 0 0 8px rgba(0,0,0,.1);
            border-radius: 10px;
            margin-top: 150px;
            .tit{
                @include big_tit;
                text-align: center;
                margin-bottom: 20px;
            }
            .inpBox{
                margin-top: 30px;
                position: relative;
                input[type="text"],input[type="password"]{
                    border: 1px solid #ddd;
                    padding: 10px 5px;
                    width: 300px;
                    margin:0 auto;
                }
                & input:nth-of-type(1){
                    border-bottom: 0;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
                & input:nth-of-type(2){
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
            .big_btn{
                @include big_btn;
                width: 300px;
                margin-top: 30px;
                &.btn_disable{
                    @include big_btn_disable;
                }
                &.btn_loading{
                    @include big_btn_loading;
                }
            }
        }
    }
}
